<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <!-- Font Awsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8"> {{!--
  <script src="/js/front_end_auth.js"></script> --}}

  <link rel="stylesheet" href="/styles/main-style.css" media="screen" title="no title" charset="utf-8">


  <title>I Already Saw That Movie App!!</title>
</head>

<body>

  <!-- Starts Menu NavBar-->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="#" class="navbar-brand" id="navtitle">
<img id="logo" src="../images/logo.jpg" alt="logo" height = 50> 
     MOVIE LIST 
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <a href="/" class="nav-link">My Movies</a>
        </li>

        <li class="nav-item">
          <a href="/moviesearch" class="nav-link">Search Movies</a>
        </li>
        
        <li class="nav-item header-button clean-anchor">
          <a href="/logout" class="nav-link">Logout <span>[{{user.username}}]</span></a>
        </li>
        {{else}}
        <li class="nav-item header-button login-button">
          <button class="btn btn-sm" type="button">Login</button>
        </li>
        
        <li class="nav-item header-button register-button">
          <button class="btn btn-sm" type="button">Sign Up!</button>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav> 
  <!-- Ends Menu NavBar-->

  <!-- Starts Error Block From Content-Flash-->
  <div class="error-block">
      {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
      {{/if}} {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}} {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
      {{/if}} {{#if errors}} {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
      {{/each}} {{/if}}
  </div>
  <!-- Ends Error Block From Content-Flash-->

  {{#if user}}
  {{{body}}}
  {{else}}
<main class="container">
    <div class="jumbotron container-fluid" id="jumbo">
        <div class="row">
            <div class="col-md-9" id="maintext">
                <h1 class="text-center"> I Already Saw That Movie!!</h1>
            </div>
            <div class="col-md-2"> <img class="img-responsive" id="logoimg" src="../images/logo.jpg" alt="logo" height=200>
            </div>
        </div>
    </div>
  </main> 
  <div class="container" id="detail">
 <h2 class="text-center">Your Personal Movie List</h2> 
 <p class="text-center">With MOVIE LIST you can keep track of the movies you saw and the movies you want to watch in a simple way.</p>
 </div>
  {{/if}}

<!--Login Modal-->
<div class="login-modal">
    <div class="login-modal-content">
        <span class="close">&times;</span>
        <h2 class="login-header">Account Login</h2>

        <form id="login-form" method="POST">
            <div class="login__username">
                <label>Username:</label>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="login__password">
                <label>Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button class="submit-button" type="submit" formaction="/login">Login</button>
        </form>
    </div>
</div>

<!--Register Modal-->
<div class="register-modal">
    <div class="register-modal-content">
        <span class="close">&times;</span>
        <h2 class="register-header">Sign Up!</h2>
        <form id="register-form" method="POST" action="/users/register">
            <div class="register__name">
                <label>Name:</label>
                <input type="text" class="form-control" placeholder="Name" name="name">
            </div>
            <div class="register__username">
                <label>Username:</label>
                <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
            <div class="register__email">
                <label>Email:</label>
                <input type="email" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="register__password">
                <label>Password:</label>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="register__password2">
                <label>Confirm Password:</label>
                <input type="password" class="form-control" placeholder="Confirm Password" name="password2">
            </div>
            <button class="submit-button submit-button__register" type="submit">Sign Up</button>
        </form>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<script src="/js/front_end_auth.js"></script>
<script src="/js/frontend_movies.js"></script>

</body>
</html>


